<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linhuiba.business">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<baidumap-->
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 提示灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_COARSE_LOCATION" />
    <!--判断程序是否在前台运行,必须 -->
    <!--<baidumap-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<baidumap-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<baidumap-->
    <uses-permission android:name="afACCESS_NETWORK_STATEndroid.permission.CHANGE_WIFI_STATE" />
    <!--<baidumap-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--<baidumap-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- 打开app权限 -->
    <uses-permission android:name="android.permission.INTENT_FILTER_VERIFICATION_AGENT" />
    <!-- growingio -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 通知-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <!-- 日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true">
    </supports-screens>
    <application
        android:name=".LinhuiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <!-- 小米审核没通过时可能的错误
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        -->
    <meta-data
        android:name="asset_statements"
        android:resource="@string/asset_statements" />

    <activity
        android:name=".activity.SplashScreenActivity"
        android:label="${APP_NAME}"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.SplashTheme"
        android:windowSoftInputMode="stateHidden">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:autoVerify="true">
            <data android:scheme="linhuiba"/>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        <!-- growingio -->
        <intent-filter>
            <data android:scheme="growing.b049e720ef8774c3"/>
            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>
        <!-- 腾讯移动分析 -->
    </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <!--android:windowSoftInputMode="stateUnchanged|adjustPan"></activity>-->
        <activity
            android:name=".activity.MainTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.MainTabActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.SearchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.FieldInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.fieldinfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FieldEvaluationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MyselfInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.MyselfInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.loginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ModifyUserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PublishReviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.business.PublishReviewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.FindPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FastLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="com.business.aboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.SearchFieldAreaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx1c6cfbe75b359364" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />
        <activity
            android:name=".activity.BaiduMapActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.InviteActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.InviteActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MapSearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MapSearchResourceTypeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OrderListNewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CalendarClass.ScheduleCalendarActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ApplyForInvoiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InvoiceInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InvoiceInfoEditorAddress"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ApplyforReleaseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.business.applyforReleaseActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ManageContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".openfile.AccordingtoFileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CalendarClass.ChooseSpecificationsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TrackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BinDingWeixinActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TrackRemarksActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InvoiceInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.FavoritesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.MyselfInfo_CompanyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".activity.Industry_ChooseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OrderConfirmActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".fieldactivity.SearchCommunitiesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.OrderConfirmUploadVoucherActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name="com.linhuiba.linhuifield.fieldactivity.FieldMainTabActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EnterpriseCertificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.business.enterpriseCertificationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildAccountActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.childAccountActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildAccountInvitationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChildAccountReplaceAdministratorActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.childAccountReplaceAdministratorActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.EnterpriseManagementActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.EnterpriseManagementActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.SettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalletApplyActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.WalletApplyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyWalletActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.MyWalletActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalletRechargeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WalletRechargeSuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WalletRechargeParticularsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WalletPaymentSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FieldinfoMapinfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OrderConfirmChoosePayWayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WalletFingerprintValidationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MySelfPushMessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.MySelfPushMessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalletRechargeParticularsInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ModifyBindingMobileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BinDingMobileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ResourcesCartItemsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.FieldInfoLocationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.GroupBookingMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.GroupBookingMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdvertisingInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FieldinfoAllResourcesInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.GroupBookingInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.GroupBookingPaidSuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SelfSupportShopActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.searchcity.SearchCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.business.SearchCityActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.searchcity.SearchCityKeyWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name=".activity.ActivityCaseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ActivityCaseInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InvoiceTitleEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.InvoiceTitleListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchAdvListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CommunityInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.communityInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyCouponsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.business.MyCouponsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.TheFirstRegisterCouponsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.IntegralReceiveCouponsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UseCouponsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SubmitDemandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.CouponReceiveCentreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FieldinfoLookPictureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CommentCentreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ActivityCasePicSaveActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 魔窗总的activity，必须注册！！！ -->
        <activity
            android:name="cn.magicwindow.common.base.MWActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="true" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <!-- 支付宝 -->

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z5G7YG0O6NODntCGT0uh5vD5LyuIzV5W" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57f9a8a267e58e826f000aac">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9623b0d05e587e1f9f6e0b0bb4b3a860">
        </meta-data>
        <!-- 友盟 -->
        <!-- 魔窗 -->
        <meta-data android:name="MW_APPID" android:value="6KROJSH6CQBFD2FO0Y2PV7U50ZKHVE7D" />
        <!-- 魔窗 -->
        <!-- MID3.5(mid-sdk-3.5.jar) 以上版本请务必增加此配置 -->
        <!--&lt;!&ndash;-->
     <provider
         android:name="com.tencent.mid.api.MidProvider"
         android:authorities="com.linhuiba.business.TENCENT.MID.V3"
         android:exported="true" >
     </provider>
     <provider
         android:name="com.tencent.stat.SmartProvider"
         android:authorities="com.linhuiba.business.MTA.SmartProvider"
         android:exported="false">
     </provider>
     <!--&ndash;&gt;-->
     <!-- debug模式包名加后缀可以共存 地图 微信功能无法使用
     <provider
         android:name="com.tencent.mid.api.MidProvider"
         android:authorities="com.linhuiba.business.debug.TENCENT.MID.V3"
         android:exported="true" >
     </provider>
     <provider
         android:name="com.tencent.stat.SmartProvider"
         android:authorities="com.linhuiba.business.debug.MTA.SmartProvider"
         android:exported="false">
     </provider>
     -->
        <meta-data android:name="TA_APPKEY" android:value="A84YFXM6Y5AD"/>
        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101505718" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.CommentCentreActivity" />
        <!-- qq -->
        <!-- 适配全面屏/刘海屏 -->
        <!-- 华为适配全面屏/刘海屏 -->
        <meta-data android:name="android.notch_support" android:value="true"/>
        <!-- 小米适配全面屏/刘海屏 -->
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <!-- 适配全面屏/刘海屏 -->
        <receiver android:name="com.linhuiba.business.connector.PushReceiver">
            <intent-filter>
                <action android:name="com.linhuiba.business.connector.PushReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.linhuiba.business.connector.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
